streamlit
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama
langchain-openai
langchain-google-genai

chromadb

sentence-transformers
transformers
torch

huggingface-hub
google-generativeai

pypdf
python-dotenv

pandas
numpy
tiktoken